header {
    width: 1440px;
    height: 700px;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;

    @media screen and (max-width:767px) {
        background-image: url(../images/header2.png);
    }

}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
}


@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Thin.ttf);
}

@media screen and (max-width:767px) {
    // div {
    //     border: 1px solid red;
    // }
}


body {
    font-family: Montserrat;
    box-sizing: border-box;

}

header,
main,
footer {
    margin: 0 auto;
    box-sizing: border-box;
}

header,
    {

    @media screen and (max-width:1439px) {
        width: 768px;
        background-position: center;
    }

    @media screen and (max-width:767px) {
        width: 320px;
        height: 540px;
        background-position: center;
    }
}

main,
footer {
    width: 1440px;
    margin: 0 auto;

    @media screen and (max-width:1439px) {
        width: 768px;
    }

    @media screen and (max-width:767px) {
        width: 300px;
    }
}



.white {
    color: #FFFFFF;
    ;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 280px;


    @media screen and (max-width:1439px) {
        margin-left: 50px;
        margin-right: 60px;
    }

    @media screen and (max-width:767px) {
        flex-direction: column-reverse;
    }

}





.header-top__logo {
    @media screen and (max-width:767px) {
        display: block;
    }

    @media screen and (max-width:767px) {}
}

.header-top__logo p {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    width: 152px;
    height: 24px;
    margin-top: 50px;

    @media screen and (max-width:767px) {
        margin-top: 85px;
        margin-left: 30px;
    }
}

.header-top__login {
    display: flex;
    margin-top: 50px;

    @media screen and (max-width:767px) {
        margin-top: 20px;
        margin-left: 10px;
    }
}

.header-top__login1,
.header-top__login2 {
    width: 90px;
    height: 36px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    text-align: center;

}

.header-top__login2 {
    border: 3px white solid;
    border-radius: 20px;
}


.header-middle {
    width: 470px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 130px auto;
    text-align: center;
    align-items: center;

    @media screen and (max-width:767px) {
        width: 300px;
        margin-top: 28px;
        margin-bottom: 15px;
        height: 180px;
    }
}

.header-middle__text1 {

    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0px;
    text-align: center;

    @media screen and (max-width:767px) {
        font-size: 30px;
        line-height: 33px;
    }

}

.header-middle__text2 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;

    @media screen and (max-width:767px) {
        font-size: 18px;
        width: 240px;
    }

}

.header-middle__text3 {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    background: #FF4E50;
    width: 225px;
    height: 40px;
    border-radius: 20px;

    @media screen and (max-width:767px) {
        width: 280px;
    }
}

.title {
    width: 1440px;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;

    letter-spacing: 0px;
    text-align: center;
    display: flex;

    justify-content: space-around;
    line-height: 100px;
    margin-top: 50px;

    @media screen and (max-width:1439px) {
        width: 768px;
        margin: 0 auto;
        margin-top: 70px;
    }

    @media screen and (max-width:767px) {
        width: 320px;
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 33px;
        margin-bottom: 13px;
    }
}

.steps {
    width: 940px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 250px;
    margin-right: 250px;

    @media screen and (max-width:1439px) {
        width: 768px;
        margin: 0 auto;
    }

    @media screen and (max-width:767px) {
        flex-direction: column;
        width: 300px;
        height: 740px;
        margin: 0 auto;
    }
}



.steps>div {
    width: 300px;
    height: 400px;

    @media screen and (max-width:1439px) {
        width: 236px;
        margin: 0 auto;
    }

    @media screen and (max-width:767px) {

        width: 300px;
        height: 240px;
    }
}

.steps__step1 {
    background-image: url(../images/step1.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.steps__step2 {
    background-image: url(../images/step2.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.steps__step3 {
    background-image: url(../images/step3.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.steps__step1_row1 {

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    margin: 15px;
    width: 70px;
    height: 20px;
    border-radius: 40px;
    background: #FF4E50;
    text-align: center;
    margin-top: 215px;

    @media screen and (max-width:767px) {}
}

.steps__step1_row2 {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin: 15px;

    @media screen and (max-width:767px) {}
}

.steps__step1_row3 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    margin: 15px;

    @media screen and (max-width:767px) {}

}

.partner {
    width: 940px;
    height: 224px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-left: 250px;
    margin-right: 250px;

    @media screen and (max-width:1439px) {
        width: 492px;
        margin: 0 auto;
        margin-bottom: 250px;
    }

    @media screen and (max-width:767px) {
        flex-direction: column;
        width: 300px;
        height: 910px;
        margin: 0 auto;
        align-content: center;
    }
}

.partner>div {
    width: 221px;
    height: 200px;

    @media screen and (max-width:1439px) {
        width: 236px;
        height: 224px;
    }

    img {
        margin-left: 50px;
        margin-bottom: 17px;
    }

    :nth-child(2) {
        margin-bottom: 12px;

        @media screen and (max-width:767px) {
            order: 2;
        }

    }

    :nth-child(3) {

        @media screen and (max-width:767px) {
            margin-top: 23px;
            order: 1;
        }
    }

    :nth-child(4) {

        @media screen and (max-width:767px) {
            order: 2;
        }

    }


}

@media screen and (max-width:767px) {
    .partner2 {
        order: 2;

    }

    .partner3 {
        order: 1;
    }

    .partner4 {
        order: 2;
    }
}

.partner1__text1 {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: center;

}

.partner1__text2 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;
    color: #666666;


}

.button1 {
    width: 180px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #FF4E50;
    color: #FF4E50;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 630px;
    margin-top: 30px;

    @media screen and (max-width:1439px) {

        margin: auto;
    }

    @media screen and (max-width:767px) {
        margin-top: 13px;
        height: 35px;
        line-height: 35px;
        width: 280px;
    }
}

.idea {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    height: 970px;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;

    @media screen and (max-width:1439px) {
        width: 748px;
        margin: 0 auto;
    }

    @media screen and (max-width:767px) {
        width: 300px;
        height: 900px;
        margin-top: 33px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    p {
        font-family: Montserrat;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 310px;
        letter-spacing: 0px;
        text-align: center;


    }

    .idea__idea1 {
        background-image: url(../images/idea1.png);
        width: 300px;
        height: 310px;

        @media screen and (max-width:1439px) {
            width: 236px;
        }

        @media screen and (max-width:767px) {
            width: 300px;
            height: 120px;
        }
    }

    .idea__idea2 {
        background-image: url(../images/idea2.png);
        width: 300px;
        height: 310px;

        @media screen and (max-width:1439px) {
            width: 236px;
        }

        @media screen and (max-width:767px) {
            width: 300px;
            height: 120px;
        }
    }

    .idea__idea3 {
        background-image: url(../images/idea3.png);
        width: 300px;
        height: 310px;

        @media screen and (max-width:1439px) {
            width: 236px;
        }

        @media screen and (max-width:767px) {
            width: 300px;
            height: 120px;
        }
    }

    .idea__idea4 {
        background-image: url(../images/idea4.png);
        width: 300px;
        height: 310px;

        @media screen and (max-width:1439px) {
            width: 236px;
        }

        @media screen and (max-width:767px) {
            width: 300px;
            height: 120px;
        }
    }

    .idea__idea5 {
        background-image: url(../images/idea5.png);

        @media screen and (max-width:767px) {
            width: 300px;
            height: 120px;
        }
    }

    .idea__idea6 {
        background-image: url(../images/idea6.png);

        @media screen and (max-width:767px) {
            width: 300px;
            height: 120px;
        }
    }

    .idea__idea7 {
        background-image: url(../images/idea7.png);
        width: 300px;
        height: 310px;

        @media screen and (max-width:1439px) {
            width: 236px;
        }

        @media screen and (max-width:767px) {
            width: 300px;
            height: 120px;
        }
    }
}

.idea>div {
    border-radius: 4px;
}



.idea__idea5,
.idea__idea6 {
    width: 620px;
    height: 310px;

    @media screen and (max-width:1439px) {
        width: 492px;
    }
}

.title4 {
    @media screen and (max-width:767px) {
        width: 250px;
        margin-bottom: 17px;
    }
}

.title5 {
    width: 1440px;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: center;

    @media screen and (max-width:1439px) {
        width: 768px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    @media screen and (max-width:767px) {
        width: 300px;
    }

}

input[type=text] {
    width: 296px;
    height: 40px;
    border: 1px solid #D4D4D4;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
    border-radius: 3px;

}

input[type=button] {
    width: 172px;
    height: 40px;
    color: white;
    background-color: #FF4E50;
    border-radius: 40px;

    @media screen and (max-width:767px) {
        width: 299px;
        margin-top: 8px;
    }
}

.forms {
    width: 482px;
    height: 40px;
    margin-left: 479px;
    margin-right: 479px;
    margin-top: 25px;

    @media screen and (max-width:1439px) {

        margin: 0 auto;
    }

    @media screen and (max-width:1439px) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column;
        width: 299px;
        height: 100px;
        align-items: space-between;
        justify-items: space-between;
    }
}

footer {
    width: 1440px;
    height: 224px;
    border-top: 2px solid #FF4E50;
    margin-top: 100px;

    @media screen and (max-width:1439px) {
        width: 768px;
        margin: 0 auto;
        margin-top: 80px;
    }

    @media screen and (max-width:767px) {
        margin-top: 33px;
        width: 300px;
    }
}

.footer-main {
    width: 940px;
    height: 174px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    margin-top: 20px;

    @media screen and (max-width:1439px) {
        width: 768px;
        margin: 0 auto;
        margin-top: 30px;
    }

    @media screen and (max-width:767px) {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 17px;
        align-items: center;

    }
}

.footer-main__block1 {
    width: 119px;
    height: 20px;
    margin-right: 110px;

    @media screen and (max-width:1439px) {

        margin-right: 130px;
    }
    @media screen and (max-width:767px) {margin: 0 auto;
    height: 31px;}

    p {

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */

        display: flex;
        align-items: flex-end;

        color: #FF4E50;
        @media screen and (max-width:767px) {
            margin: 0 auto;
            align-content: center;

        }

    }
}

.footer-main__block2 {
    width: 119px;
    height: 220px;
    margin-right: 130px;

    @media screen and (max-width:1439px) {
        height: 170px;
        margin-right: 55px;
    }
    @media screen and (max-width:767px) {margin: 0 auto;
    width: 180px;
    height: 75px;
display: flex; flex-direction: column;}

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;
        align-self: center;
    }

    ul {
        @media screen and (max-width:767px) {
            display: flex;
            flex-wrap: wrap;
justify-content: space-around;
        }
    }

    li {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        /* or 186% */


        color: #999999;
    }
}

.footer-main__block3 {
    width: 119px;
    height: 20px;
    margin-right: 230px;

    @media screen and (max-width:1439px) {
        margin-right: 110px;
    }
    @media screen and (max-width:767px) {margin: 0 auto;
    text-align: center;
height: 30px;
width: 62px;}

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: flex-end;
        @media screen and (max-width:767px) {
            text-align: center;
            margin: 0 auto;
        }
    }
}

.footer-main__block4 {

    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: left;
    color: #CCCCCC;
    @media screen and (max-width:767px) {margin: 0 auto;}

    p {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
    }

}